# Android / Gradle
.gradle/
.build/
local.properties
*.iml
.idea/
app/build/
*/build/
captures/
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db

# Python / Notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
.env


# Third-party SDKs and dependencies
android/ncnn-app/third_party/
android/executorch-app/third_party/

